body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXbgZmugawN8m2XyQrRi_C5dkqKY-4JU7__OJFPu1RgpBxZEw-uA');
  background-size: cover;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #6990B1;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}


#nav-link {
  text-decoration: none;
  font-size: 27px;
  padding-top: 26px;
  color: white;
  text-shadow: 1px 1px black;
}